* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
.poppins-thin-font {
  font-family: "Poppins", serif;
  font-style: normal;
}

/* common css start */
.display-flex {
  display: flex;
}
/* common css end */

/* header part start */
header {
  padding: 90px 120px;
  margin: 0 auto;
}
/* nav section start */
nav,
ul {
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  font-weight: 700;
  font-size: 1.5rem;
  color: #3a3a3a;
}
ul li a {
  font-weight: 600;
  font-size: 1rem;
  color: #3a3a3a;
}
ul {
  gap: 30px;
}

/* nav section end */
/* banner section start */
.banner {
  padding-top: 60px;
  gap: 130px;
  justify-content: space-between;
}
.banner-content {
  max-width: 580px;
  margin: 70px 0;
}
.banner-title {
  font-weight: 700;
  font-size: 3.3rem;
  line-height: 70px;
  color: #3a3a3a;
}
.banner-info {
  font-weight: 600;
  font-size: 1rem;
  color: #3a3a3a;
  margin: 16px 0;
}
.banner-btn {
  padding: 10px 24px;
  border: none;
  background-color: #e02c6d;
  border-radius: 41px;
  color: #ffff;
}
.banner-btn i {
  margin-left: 8px;
}

.banner-image {
  background-image: url(./images/Circle\ design.svg);
  width: 475px;
  height: 475px;
  background-repeat: no-repeat;
  background-position: center;
}
.banner-image img {
  width: 100%;
  margin: 54px -23px;
}
/* banner section end */
/* header part end */
/* main part start */
/* sponsor section start */
.sponsor {
  margin: 0 185px;
  border: 1px solid rgba(128, 128, 128, 0.733);
}
.sponsor-image {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-content: space-between;
  padding: 36px 61px;
}
/* sponsor section end */
/* collection section start */
.collection {
  margin: 100px 195px;
}
.collection-head {
  text-align: center;
}
.collection-title {
  font-weight: 600;
  font-size: 1.6rem;
  color: #3a3a3a;
  margin-bottom: 30px;
}
.collection-main {
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 30px;
}
.collection-card {
  width: 329px;
  box-shadow: 0px 2px 27px -19px;
  padding: 15px;
  border: none;
  border-radius: 10px;
}
.collection-card img {
  width: 100%;
}
.collection-card-title {
  font-weight: 500;
  font-size: 1.6rem;
  color: #18191f;
}
.collection-card-num {
  font-weight: 400;
  font-size: 1.4rem;
  color: #000000dc;
}
.collection-card-info {
  font-weight: 700;
  font-size: 0.9rem;
  color: #0000009a;
}
.collection-link {
  width: 135px;
  margin-left: 822px;
  color: #e02c6ed2;
}
/* collection section end */
/* join section start */
.join {
  margin: 100px 165px;
  justify-content: space-between;
  gap: 96px;
}
.join-image img {
  width: 100%;
}
.join-content {
  max-width: 610px;
}
.join-title {
  font-weight: 700;
  font-size: 2.1rem;
  color: #0a0826;
}
.join-info {
  font-weight: 600;
  font-size: 1rem;
  color: #6c6c6c;
  margin: 10px 0;
}
.join-btn {
  padding: 10px 24px;
  background-color: #e02c6d;
  color: #ffff;
  border: none;
  border-radius: 8px;
  font-weight: 400;
  font-size: 1.2rem;
}
/* join section end */
/* main part end */
/* footer part start */
.footer {
  background-color: #0a0826;
  padding: 50px 10px;
  color: white;
  text-align: center;
  justify-content: center;
}
.footer-content {
  max-width: 580px;
}
.footer-title {
  font-weight: 700;
  font-size: 1.3rem;
}
.footer-info {
  font-weight: 400;
  font-size: 1rem;
  margin: 8px 0;
}
ul i{
  margin-right: 20px;
}
/* footer part end */

/* mobile responsive part start */
/* header part start */
@media screen and (max-width: 576px) {
  header {
    padding: 0;
    margin: 0;
  }
  nav,
  ul {
    flex-direction: column;
    padding: 10px;
    gap: 20px;
  }
  .nav-logo {
    width: 244px;
  }

  .banner {
    padding: 22px 0;
    gap: 15px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .banner-image {
    width: 260px;
    height: 260px;
    background-image: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .banner-image img {
    width: 200px;
    height: 190px;
    margin: 32px 46px 0px 4px;
  }
  .banner-content {
    margin: 0;
    max-width: 404px;
    padding: 5px;
    text-align: center;
  }
  .banner-title {
    font-size: 2rem;
    line-height: 44px;
  }
  /* header part end */
  /* main part start */
  .sponsor {
    margin: 0;
    border: none;
  }
  .sponsor-image {
    grid-template-columns: repeat(4, 1fr);
    gap: 19px;
    padding: 36px 26px;
    align-items: center;
    justify-content: center;
  }
  .sponsor-image img {
    width: 100%;
  }
  .collection {
    margin: 2px;
  }
  .collection-main {
    display: grid;
    /* grid-template-columns: repeat(1,1fr); */
    justify-content: center;
    align-items: center;
  }
  .collection-card img {
    width: 100%;
  }
  .collection-link {
    margin-left: 30px;
  }

  .join {
    flex-direction: column;
    margin: 30px 0;
    gap: 20px;
    padding: 0 20px;
  }
  /* main part end */
  /* footer part start */
  .footer-content{
    max-width: auto;
  }
  /* footer part end */
}

/* mobile responsive part end */
